.jumbotron {
    margin-left: 20%;
    margin-top: 5%;
    padding-top: 20px;
    
  }
  .example-tab-icon {
    margin-right: 8px;
  }
  .example{
    background-color: pink;
  }
  mat-card{
    padding-left: 70px; 
    width:700px;
   }
   mat-tab{
     width:200px;
     height:150px;
     
   }
   mat-tab-group{
     min-height: 2px;
   }



