<div class="jumbotron">
 <mat-card>
<mat-tab-group class="example">
    <mat-tab>
        <ng-template  mat-tab-label>
            <mat-icon color="primary" class="example-tab-icon">touch_app</mat-icon>
            <b>Measure</b>
        </ng-template>
        <div>
                <app-measure></app-measure>
              </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
                <mat-icon color="primary" class="example-tab-icon">touch_app</mat-icon>
            <b>Analyse</b>
        </ng-template>
        <div>
                <app-analyse></app-analyse>
              </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
                <mat-icon  color="primary" class="example-tab-icon">touch_app</mat-icon>
           <b> Implementation</b>
        </ng-template>
        <div>
                <app-implement></app-implement>
              </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
                <mat-icon  color="primary"class="example-tab-icon">touch_app</mat-icon>
           <b> Control</b>
        </ng-template>
        <div>
                <app-control></app-control>
              </div>
    </mat-tab>
    </mat-tab-group>
</mat-card>
  
   </div>
  