<div class="">
    <mat-card>
        <mat-card-actions>
            <p> <button mat-raised-button color="accent"  class="divider"><i class="fa fa-plus"></i>Create New</button>
            </p>
                </mat-card-actions> 
                      <nav>
                          <a href="/sixsigma">Define list</a> 
                          </nav>

        <mat-table [dataSource]="listData">
      
          <ng-container matColumnDef="sno">
            <mat-header-cell *matHeaderCellDef> <b>SNo</b> </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.sno}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="definition">
            <mat-header-cell *matHeaderCellDef> <b>Definition </b></mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.definition}} </mat-cell>
           
          </ng-container>
      
          <ng-container matColumnDef="startingdate">
            <mat-header-cell *matHeaderCellDef> <b>Starting Date </b></mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.startingdate}} </mat-cell>
          </ng-container>
      
          <ng-container matColumnDef="enddate">
            <mat-header-cell *matHeaderCellDef><b>End Date</b> </mat-header-cell>
            <mat-cell *matCellDef="let user"> {{user.enddate}} </mat-cell>
          </ng-container>

            <ng-container matColumnDef="loading">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  Loading data...
                </mat-footer-cell>
              </ng-container>

              <ng-container matColumnDef="noData">
                <mat-footer-cell *matFooterCellDef colspan="6">
                  No data.
                </mat-footer-cell>
              </ng-container>

           
              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>

              
              <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
              <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>

              
      

              
        </mat-table>
    </mat-card>
      </div>
      